$header: #212832;
$justBlack: #080809;
$terracotta: #df6951;
$mainTitle: #181e4b;
$paragraph: #5e6282;
$yellowButton: #f1a501;
$white: #ffffff;
$grey: #686d77;
$decor: #fff1da;
$textColor: #5e6282;
$sectionTitle: #14183e;
$servicesSubTitle: #1e1d4c;
$cardText: #84829a;
$blurDecor: #59b1e6;
$niceColor: #8a79df;
$border: #f7f7f7;
$arrowDown: #3e2e4d;
$arrowUp: #bcb7c2;
$pagination: #39425d;
$paginationHover: #e5e5e5;
$subscribeDecor: #dfd7f933;
$cardHover: #4152ca;
$blueHover: blue;
