@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class*="--icon-"]::before {
  content: "";
  font-family: "iconfont" !important;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="--icon-building"]::before {
  content: "\e908";
}

[class*="--icon-heart"]::before {
  content: "\e90f";
}

[class*="--icon-navigation"]::before {
  content: "\e91a";
}
