@use "../scss/_mixins.scss" as *;
@use "../scss/_colors.scss" as *;
@use "../scss/_variables.scss" as *;

.partners {
  // .partners__container
  &__container {
    max-width: toRem(1073);
    overflow: hidden;
  }

  // .partners__list
  &__list {
    display: flex;
    gap: toRem(70);
    justify-content: center;
    align-items: center;
    padding-inline: toRem(20);
    animation: scroll 15s linear infinite;

    @include universal-hover {
      animation-play-state: paused;
    }
  }
}

.partner {
  // .partner__item
  &__item {
    padding: toRem(0) toRem(20);
    transition: all 0.5s;

    @include universal-hover {
      box-shadow: $box-shadow-decor;
      border-radius: toRem(10);
    }
  }

  // .partner__img
  &__img {
    max-width: toRem(116);
    height: toRem(102);
  }
}

@keyframes scroll {
  0% {
    transform: translate(0%);
  }

  100% {
    transform: translate(-35%);
  }
}
