@use "../scss/_mixins.scss" as *;

$box-shadow-decor: 0 100px 80px rgba(0, 0, 0, 0.02),
  0 64.81px 46.85px rgba(0, 0, 0, 0.02), 0 38.52px 25.48px rgba(0, 0, 0, 0.01),
  0 20px 13px rgba(0, 0, 0, 0.01), 0 8.15px 6.52px rgba(0, 0, 0, 0.01),
  0 1.85px 3.15px transparent;

$border-radius: toRem(24);
$borderRadius-small: toRem(10);
